extends ../layout.jade
- var title = "API function Index for " + path;
block contents
    h1= title
    ul
        each f in fn
            - var url = f.path.substring(1) + "/" + name;
            li
                b
                    a(href=url)= f.path
                span.
                    :&nbsp;#{f.brief}
