doctype html
- var pageTitle = "API function Index for " + path;
html
  head
    title= pageTitle
  body
    h1= pageTitle
    ul
        each f in fn
            - var url = f.path.substring(1) + "/help";
            li
                b
                    a(href=url)= f.path
                span.
                    :&nbsp;#{f.brief}
